/* MOBILE 2 TEMPLATE CSS */

#symptoms {
background-color: hsla(0,0%,90%,1);  
background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
 -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
 -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
 -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%);
height: 500px;
width: 270px;
border-radius: 30px;
box-shadow: -2px 2px 3px #ccc;
border: 1px solid #ddd;
margin: 20px auto;
position: relative;
}

#symptoms speaker {
 width: 80px;
 height: 10px;
 border-radius: 10px;
 background: #eee;
 border: 1px solid #ddd;
 position: absolute;
 top: 25px;
 display: block;
 left: 95px;
}

 #symptoms circle {
 background: #eee;
 border: 1px solid #ddd;
 border-radius: 100%;
 display: block;
 position: absolute;
 height: 45px;
 width: 45px;
 top: 450px;
 left: 115px;
}


.sbox {
 background: white;
 height: 390px;
 width: 240px;
 top: 55px;
 position: relative;
 border:1px solid #ddd;
 left: 14px;
 line-height: 130%;
}

.sbox icon {
 border: 10px solid white;
 background-size: cover;
 box-shadow: 0 0 1pt 1pt #eee;
box-shadow: 0 0 0 1pt #eee;
border-radius: 100%;
height: 60px;
width: 60px;
display: block;
position: absolute;
left: 10px;
top: 30px;
}

.sbox stuff {
 font-family: 'IBM Plex Mono', monospace;
 font-size:8px;
 color: #aaa;
 text-transform: capitalize;
 float: left;
 margin-left: 5px;
}


.sbox message {
 font-family: 'IBM Plex Mono', monospace;
 float: right;
     margin: 30px;
 margin-top: 0px;
 font-size:12px;
 color: #aaa;
 text-transform: capitalize;
}
.sbox name {
 color:var(--phonecolor);
 font-family: 'IBM Plex Mono', monospace;
 font-size: 11px;
 float: left;
 margin-left: 105px;
 margin-top: 30px;
 text-transform: uppercase;
}

.stextsbox {
 border-top: 1px solid #eee;
 height: 240px;
 width: 240px;
 position: absolute;
 display: block;
 top: 120px;
 overflow: auto;
}

.stextsbox text {
 background-color:var(--phonecolor);
 float: left;
 margin-left: 90px;
 margin-top: 10px;
 margin-bottom: -5px;
 font-family: 'Roboto', sans-serif;
 font-size: 12px;
 padding: 10px;
 border-radius: 12px 12px 3px 12px;
 display: block;
 color: #fff;
 width: 120px;
 text-align: justify;
 line-height: 120%;
}

.sbox sendmessage {
 position: absolute;
 top: 366px;
 left: 0px;
 font-size: 10px;
 width: 220px;
 padding-left: 10px;
 padding-right: 10px;
 font-family: 'IBM Plex Mono', monospace;
 color: #aaa;
 height:25px;
 line-height: 250%;
 border-top: 1px solid #eee;
}

.stextsbox::-webkit-scrollbar {
display: none !important;
}

#symptoms a {
color: #aaa;
}
