/* POST 6 TEMPLATE CSS */

.n-andy-thread {
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eee;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  font: 11px/120% 'Source Sans Pro', sans-serif;
  text-align: justify;
  color: #111;
  margin: 5px auto;
}

.n-andy-credits {
  font: bold 8px/100% 'Source Sans Pro', sans-serif;
  width: 100%;
  max-width: 350px;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: right;
  box-sizing: border-box;
  padding-right: 10px;
}

.n-andy-thread img {
  display: block;
  margin: 0 auto 1.5em;
  box-sizing: border-box;
  max-width: 100%;
  border: 15px solid var(--aescolor);
}

.n-andy-thread h1 {
  margin: 1em 0;
  text-align: center;
  font: 300 15px/100% 'Source Code Pro', monospace;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.n-andy-thread b {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--aescolor);
}

.n-andy-thread i {
  color: var(--aescolor);
}

.n-andy-thread hr {
  border: 0;
  height: 1px;
  background-color: #ddd;
  margin: 1.5em;
}

.n-andy-thread p:last-child { margin-bottom: 0; }

.n-andy-thread.n-nicole img {
  border: 15px solid var(--aescolor);
}
.n-andy-thread.n-nicole b {
  color: var(--aescolor);
}
.n-andy-thread.n-nicole i {
  color: var(--aescolor);
}
