/* POST 3V2 TEMPLATE CSS */

.between2back { width:320px; padding:50px; background-color:#f6f6f6; position:relative; border:1px solid #ececec; }
.between2border { width:210px; border:1px solid var(--aes3v2color); padding:50px; border-radius:10px; position:relative; }
.between2text { background-color:#f6f6f6; height:10px; padding:10px; position:absolute; z-index:1; left:20px; line-height:12px; top:-16px; text-align:left; font-family:raleway; font-weight:400; font-size:8px; text-transform:uppercase; color:var(--aes3v2color); letter-spacing:1px; }
.yomama { width:420px; text-align:right; }
.yomama a { color:#8a8a8a; text-decoration:none; font-size:7px; }
.between2image { position:absolute; border-radius:100%; bottom:-30px; right:20px; height:50px; width:50px; background-color:#efefef; border:1px solid var(--aes3v2color); padding:5px; overflow:hidden; }
.between2image img { width:50px; height:50px; border-radius:100%; }
.between2words { width:210px; text-align:justify; color:#8a8a8a; font-family:raleway; font-size:10px; line-height:13px; }
.between2words b { color:var(--aes3v2color); }
.between2words i { color:var(--aes3v2color); }
